# environment variables
.env
.env.*

# virtual env variants
venv/
env/
ENV/

# python cache
__pycache__/
*.py[cod]

# django migrations cache
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db