{% load static %}

<nav class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-6 py-4 flex items-center">
        
        <!-- LOGO kiri -->
        <div class="flex items-center">
            <a href="{% url 'superadmin_dashboard' %}">
                <img src="{% static 'images/logo_pitpet.png' %}" 
                     alt="PITPET Logo" 
                     class="h-12 w-auto">
            </a>
        </div>

        <!-- MENU kanan -->
        <div class="ml-auto flex items-center gap-8 font-semibold text-gray-700 text-lg">

            <!-- HOME -->
            <a href="{% url 'superadmin_dashboard' %}" 
               class="hover:text-[#F5A623]">
                Home
            </a>


            <!-- DATA STAFF -->
            <a href="{% url 'superadmin_staff_list' %}" 
               class="hover:text-[#F5A623]">
                Data Staff
            </a>

            <!-- DATA MANAGER -->
            <a href="{% url 'superadmin_manager_list' %}" 
               class="hover:text-[#F5A623]">
                Data Manager
            </a>

            <!-- REGISTER USER -->
            <a href="{% url 'register_staff_manager' %}" 
               class="hover:text-[#F5A623]">
                Register User
            </a>

            <!-- LOGOUT -->
            <a href="{% url 'logout' %}"
               class="bg-[#F5A623] text-white px-6 py-2 rounded-full hover:bg-orange-500 transition">
                Log Out
            </a>

        </div>
    </div>
</nav>